<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Socket.io-doc</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
            <link rel="stylesheet" href="./css/style.css">
        </head>
        <body>
            <header class="flex one center">
                <span>Head</span>
            </header>
            <div class="flex three demo">
                <div class="full sixth-900">
                    <span>
                        
                    </span>
                </div>
                <div class="full two-third-900">
                    <span>
                        <div class="flex" id="undefined_undefined">
            <article class="card">
            <header>
            <h5> category :<span class="label success">undefined</span></h5>
            </header>
            <footer>
                <div class="flex">
                description : <p>undefined</p> 
                </div>
                <h5> event : <span class="label"> undefined</span> </h5>
                <h5> action : <span class="label"> undefined</span> </h5>
                <div class="flex">
                <h5>example: </h5>
                <code class="flex">socket.emit('undefined', undefined) </code>
                <div>
                <div>
                <button class='success'>Emit the message</button>
                </div>
            </footer>
            </article>
        </div> 

        <div class="flex" id="undefined_undefined">
            <article class="card">
            <header>
            <h5> category :<span class="label success">undefined</span></h5>
            </header>
            <footer>
                <div class="flex">
                description : <p>undefined</p> 
                </div>
                <h5> event : <span class="label"> undefined</span> </h5>
                <h5> action : <span class="label"> undefined</span> </h5>
                <div class="flex">
                <h5>example: </h5>
                <code class="flex">socket.emit('undefined', undefined) </code>
                <div>
                <div>
                <button class='success'>Emit the message</button>
                </div>
            </footer>
            </article>
        </div> 

        <div class="flex" id="undefined_undefined">
            <article class="card">
            <header>
            <h5> category :<span class="label success">undefined</span></h5>
            </header>
            <footer>
                <div class="flex">
                description : <p>undefined</p> 
                </div>
                <h5> event : <span class="label"> undefined</span> </h5>
                <h5> action : <span class="label"> undefined</span> </h5>
                <div class="flex">
                <h5>example: </h5>
                <code class="flex">socket.emit('undefined', undefined) </code>
                <div>
                <div>
                <button class='success'>Emit the message</button>
                </div>
            </footer>
            </article>
        </div> 

        <div class="flex" id="undefined_undefined">
            <article class="card">
            <header>
            <h5> category :<span class="label success">undefined</span></h5>
            </header>
            <footer>
                <div class="flex">
                description : <p>undefined</p> 
                </div>
                <h5> event : <span class="label"> undefined</span> </h5>
                <h5> action : <span class="label"> undefined</span> </h5>
                <div class="flex">
                <h5>example: </h5>
                <code class="flex">socket.emit('undefined', undefined) </code>
                <div>
                <div>
                <button class='success'>Emit the message</button>
                </div>
            </footer>
            </article>
        </div> 

        
                    </span>
                </div>
                <div class="full sixth-900"><span>3</span></div>
            </div>
            <footer class="flex full">
                
            </footer>
        </body>
    </html>