<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.io-doc</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <style type="text/css">
        html,body {
            margin: 0;
            line-height: 1.5em;
        }
        #container {
            width: 100%;
            height: 100vh;
            background: rgb(233, 233, 233);
            display: flex;
            flex-direction: column;
        }

        header {
            background: rgb(210, 210, 245);
            padding: 5px;
        }

        #middle {
            display: flex;
            flex-direction: row;
            flex:1;
        }
        aside {
            flex: 0.2;
            background: rgb(245, 255, 245);
            padding: 5px;
        }

        main {
            padding: 5px;
            flex: 0.8;
            background:white;
        }

        footer {
            flex:auto;
            background: rgb(255, 255, 232);
        }
    </style>
</head>
<body>
    <div id="container">
        <header>Socket.io-DOC</header>
        <div id="middle">
            <aside>Aside</aside>
            <main>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
ß
            </main>
        </div>
        <footer>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit, sapiente iure ullam quas quasi molestias similique dolores animi hic recusandae exercitationem eum provident velit totam iste, ex et.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus commodi impedit,
        </footer>
    </div>
</body>
</html>